body {
    background-image: url(dukdeluxe.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 740px;

}

#button {
    text-align: center;
    font-family: Splatch;
    transform: rotate(350deg);
    font-size: 26px;

}

#button:hover {
    cursor: pointer;
}

#display {
    position: absolute;
    top: 45%;
    left: 44%;
    text-align: center;
    font-family: Splatch;
    text-decoration: none;
    opacity: 0;
    font-size: 20px;
}

#generate-button {
    width: 200px;
    
}

a {
    color: white;
    font-size: 16px;
    font-family: Splatch;
    text-decoration: none;
   
}

a:hover {
    cursor: pointer;
}
 
#circle {
    position: relative;
    width: 30vw;
    height: 10vw;
    border-radius: 50%;
    border: 25px solid rgb(0, 0, 0); 
    text-align: center; 
    box-shadow: 5px 5px 4px rgba(141, 140, 140, 0.3);
    padding-top: 20%;
    background-color: #000;
}

.circle-container {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.forknknife {
    height: 30vw;
}

#vegetarianLasagne {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 35vw;
    top: 1.7vw;
    display: none;
}
#kaleSalad {
    
    width: 30vw;
    height: auto;
    position: absolute;
    left: 35vw;
    top: 1.7vw;
    display: none;
}

#tacoGratin {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 35vw;
    top: 1.7vw;
    display: none;
}

#creamyPasta {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 35vw;
    top: 1.7vw;
    display: none;
}

#broccoliSoup {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 35vw;
    top: 1.7vw;
    display: none;
}

#tomatoPasta {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 35vw;
    top: 1.7vw;
    display: none;
}

#veganBeet {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 35vw;
    top: 1.7vw;
    display: none;
}

h1 {
    font-family: Splatch;
    text-align: center;
    font-size: 55px;
    margin-top: 20px;
    
}

@font-face {
    font-family: "My Custom Font";
    src: url(Splatch.ttf) format("truetype");
}

.circle-container:hover .cheapFood{
    filter: blur(5px);
}

.cheapFood {
    transition: .3s ease;
    backface-visibility: hidden;
}

.circle-container:hover #display {
    opacity: 1;
}